@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./modal.css');

::-webkit-scrollbar {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  height: 8px;
  width: 4px;
  border-radius: 20px;
}

* {
  @apply
  text-slate-700
}

.flip {
  animation: flipflip 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite normal forwards;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  /* animation-timing-function: ; */
  /* animation-fill-mode: ; */
  /* animation-delay: ; */
}

@keyframes flipflip {
  0% {
  transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}