.modal_overlay {
  z-index: 100;
  position: fixed;
  display: grid;
  place-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.modal_card {
  background-color: white;
  padding: 10px 12px;
  border-radius: 12px;
  min-width: 330px;
  @apply
  w-[90vw]
  md:w-fit
  
}

.modal_card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 4px;
}

.modal_card__body {
  margin: 12px 0;
  max-height: 75vh;
  overflow-y: scroll;
}

.modal_card__body::-webkit-scrollbar {
  display: none;
}

.modal_card__footer {
  display: flex;
  justify-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 4px;
}